  <div class="ariadna-cont"> 
    <div class="row">
      <div class="large-12 columns" data-ariadna="ok">
        <p>ESTÁS EN:</p>
        <ul>
          <li><a href="#">Inicio</a>
          </li>
          <li><a href="#">Gobierno</a>
          </li>
          <li><a href="#">Composición del gobierno</a>
          </li>
          <li><a href="#">Presidencia del gobierno</a>
          </li>
        </ul>
      </div>
    </div>
  </div>  

  <div class="body-bg">
    <div class="row" data-body="ok">
      <div class="large-12 columns">

        <%= render '/refinery/content_page' %>

      </div>
    </div>
  </div>