  <div class="deco-cont">
  <div class="row">
    <div class="large-12 columns no-gap">
      <h3>TRANSPARENCIA</h3>
    </div>
  </div>
</div>
  <div class="body-bg">
    <div class="row" data-body="ok">
      <div class="large-12 columns" style="padding-top:4em;">

        <%= render '/refinery/content_page' %>

      </div>
    </div>
  </div>
