<div class="ariadna-cont"> 
  <div class="row">
    <div class="large-12 columns" data-ariadna>
      <p>ESTÁS EN:</p>
      <ul>
        <li><a href="/">Inicio</a></li>
        <% if @agreement %>
          <li><a href="<%= agreements_path(request.query_parameters) %>">Convenios</a></li>
          <li><a href="#">Visor de convenios</a></li>
        <% else %>
          <li><a href="#">Convenios</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>