<form action="#">
  <div class="deco-cont">
    <div class="row">
      <div class="large-12 columns" data-filtros>
        <div class="row">
          <div class="large-4 columns">
            <a href="<%= agreements_path(request.query_parameters) %>" class="button hollow">Número de convenios</a>
            <a href="<%= agreements_path(request.query_parameters.merge(:type => 'amount'))%>" class="button hollow">Cuantía del convenio</a>
            <a href="<%= agreements_path(request.query_parameters.merge(:type => 'percentage'))%>" class="button hollow">Porcentaje de participación</a>
            <a href="<%= agreements_path(request.query_parameters.merge(:type => 'entities'))%>" class="button hollow">Número de entidades</a>        
          </div>
          <div class="large-4 columns">
            <a href="#" class="button hollow active">Título convenio</a>
            <a href="#" class="button hollow">Firmante externo</a>
            <a href="#" class="button hollow">Fecha de convenio</a>        
          </div>
          <div class="large-4 columns">
            <input type="text" class="search" value="Escriba el título del convenio" placeholder="Escriba el título del convenio">
          </div>
        </div>
      </div>
    </div>
    <div class="inner-deco">
      <div class="row">
        <div class="large-4 large-centered columns submit-deco">
          <input type="submit" class="button" value="APLICAR">  
        </div>
      </div>
    </div>  
  </div>
</form>