  <div class="row" data-body>
    <div class="large-12 columns">
      <div class="titulo wiki">
        <div class=" linea"><hr></div>
        <h4>GLOSARIO DE TÉRMINOS</h4>
        <div class=" linea"><hr></div> 
      </div>
      <div class="large-12 columns">
        <div class="wiki-list">
          <p><span>ACUERDO</span>Convenio entre dos o más partes.</p>
        </div>
        <div class="wiki-list">
          <p><span>ACUERDOS DE COORDINACIÓN</span>Son los acuerdos que se celebran con otras comunidades autónomas que tengan por objeto la declaración conjunta de intenciones o líneas de actuación política, el intercambio de información o la creación de órganos conjuntos de colaboración o coordinación.</p>
        </div>
        <div class="wiki-list">
          <p><span>ACUERDOS CON LA UNIÓN EUROPEA</span>Son los acuerdos de colaboración o convenios que puede celebrar la Comunidad Autónoma de Aragón con Entidades Públicas de otras regiones de la Unión Europa en asuntos de interés común o que celebre con las entidades públicas de las regiones europeas limítrofes para gestionar equipamientos y servicios públicos comunes.</p>
        </div>
        <div class="wiki-list">
          <p><span>ACUERDOS DE ACCION EXTERIOR</span>Son los acuerdos de colaboración que puede suscribir la Comunidad Autónoma de Aragón con entes públicos de otros Estados u organismos internacionales para la promoción y defensa de los intereses de Aragón en el exterior, especialmente en materia de investigación, desarrollo tecnológico, protección del medio ambiente, ayuda al desarrollo y apertura exterior de la economía ragonesa.</p>
        </div>
        <div class="wiki-list">
          <p><span>AUTORIZACIÓN</span>Los convenios o acuerdos que en nombre de la Comunidad Autónoma de Aragón, celebre el Gobierno de Aragón, la Administración de la Comunidad y las restantes entidades del sector público, deberán ser autorizados mediante acuerdo del Gobierno de Aragón, quien podrá atribuirla a otro órganos en los términos y supuestos que se establezcan reglamentariamente.</p>
        </div>
        <div class="wiki-list">
          <p><span>CONVENIO</span>Instrumento jurídico, celebrado por escrito,  entre la Comunidad Autónoma de Aragón con el Estado, con otras Comunidades Autónomas, con Administraciones Públicas, con entidades públicas de la Unión Europea, y demás entidades jurídicas y privadas para la consecución de fines de interés público y de interés común.</p>
        </div>
        <div class="wiki-list">
          <p><span>COMISIÓN BILATERAL DE COOPERACIÓN ARAGÓN-ESTADO</span>Es el instrumento principal de relación entre la Comunidad Autónoma y el  Estado para impulsar la realización de actuaciones y planes conjuntos para el desarrollo de políticas comunes y, en su virtud, suscribir los oportunos convenios de colaboración.</p>
        </div>
        <div class="wiki-list">
          <p><span>CONVENIOS CON EL ESTADO</span>Son los convenio que la Comunidad Autónoma de Aragón suscribe con el Estado y tienen que cumplir objetivos de interés común. Estos instrumentos pueden adoptar la denominación de Protocolo General, Convenio Marco y Convenio de Colaboración.</p>
        </div>
        <div class="wiki-list">
          <p><span>CONVENIOS Y ACUERDOS CON OTRAS CC.AA.</span>La Comunidad Autónoma de Aragón puede suscribir convenio o acuerdos con la finalidad de fijar políticas comunes y tratar asuntos de interés recíproco en beneficio de sus ciudadanos.</p>
        </div>
        <div class="wiki-list">
          <p><span>CONVENIO MARCO</span>Instrumento que se formaliza con el Estado para establecer acuerdos de orientación política o de carácter programático o declarativo y cuyo contenido no es vinculante y su cumplimiento no resulta jurídicamente exigible.</p>
        </div>
        <div class="wiki-list">
          <p><span>CONVENIO DE COLABORACIÓN</span>Instrumento en el que se establecen obligaciones concretas delimitadas por las partes directa e inmediatamente exigibles.</p>
        </div>
        <div class="wiki-list">
          <p><span>CONTENIDO DE LOS CONVENIOS Y ACUERDOS</span>Los convenios y acuerdos podrán incluir toda clase de pactos, cláusulas y condiciones, siempre que sean conformes con el interés público y conel ordenamiento jurídico vigente.</p>
        </div>
        <div class="wiki-list">
          <p><span>CONTENIDO MÍNIMOS DE LOS CONVENIOS</span>Los acuerdos o convenios deberán tener, como mínimo, el siguiente contenido: los órganos firmantes, la competencia o capacidad que habilitan su actuación, las razones de interés público que los motivan, su clase o tipo, su objeto, su duración, su financiación, las garantías para el cumplimiento de sus obligaciones, las causas de extinción</p>
        </div>
        <div class="wiki-list">
          <p><span>FIRMANTES</span>Las personas que suscriben el acuerdo en su nombre o en representación de los órganos o instituciones a las que pertenecen.</p>
        </div>
        <div class="wiki-list">
          <p><span>OBJETO/TÍTULO</span>Todo acuerdo de voluntades, adoptados por escrito, que tengan por finalidad el adecuado ejercicio de sus competencias para la consecución de fines de interés público, cualquiera que sea su denominación</p>
        </div>
        <div class="wiki-list">
          <p><span>PROTOCOLO GENERAL</span>Instrumento que se formaliza con el Estado en el que se establecen acuerdos de orientación política o de carácter programático o declarativo sin contenido vinculante y cuyo contenido no resulta jurídicamente exigible.</p>
        </div>
        <div class="wiki-list">
          <p><span>PROTOCOLO DE COORDINACIÓN</span>Son los acuerdos que se celebran con otras comunidades autónomas que tengan por objeto la declaración conjunta de intenciones o líneas de actuación política, el intercambio de información o la creación de órganos conjuntos de colaboración o coordinación.</p>
        </div>
        <div class="wiki-list">
          <p><span>PUBLICIDAD DE LOS CONVENIOS</span>Los convenios inscritos en el Registro de Convenios de la Comunidad Autónoma de Aragón se publicarán, a efectos de su publicidad, en el “Boletín Oficial de Aragón”</p>
        </div>
        <div class="wiki-list">
          <p><span>REGISTRO DE CONVENIOS</span>Es el instrumento de publicidad y transparencia de la actividad convencional de la Comunidad Autónoma de Aragón, en el que se inscriben todos los convenios y acuerdos que se firman por el Gobierno de Aragón, la Administración de la Comunidad Autónoma de Aragón y las restantes entidades del sector público autonómico.</p>
        </div>
        <div class="wiki-list">
          <p><span>NO SE REGISTRAN/ O CONVENIOS NO INSCRIBIBLES</span>Los contratos que por su naturaleza tengan la consideración de contratos sometidos a la legislación de contratos del sector público; los convenios urbanísticos y los acuerdos adoptados en materia de seguridad pública.</p>
        </div>
        <div class="wiki-list">
          <p><span>VIGENCIA</span>Plazo de duración del convenio o acuerdo.</p>
        </div>        
      </div>
    </div>     
  </div>