  <div class="row" data-body>
    <div class="large-12 columns">
      <div class="titulo wiki">
        <div class=" linea"><hr></div>
        <h4>GLOSARIO DE TÉRMINOS</h4>
        <div class=" linea"><hr></div> 
      </div>
      <div class="large-12 columns">
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
        <div class="wiki-list">
          <p><span>LOREM IPSUM</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, architecto explicabo aliquam enim commodi quia veritatis tenetur fugit ipsum est. Hic, repellat dolorem aliquam quae repellendus velit dolore! Aliquid, ducimus.</p>
        </div>
      </div>
    </div>     
  </div>