<div class="ariadna-cont"> 
  <div class="row">
    <div class="large-12 columns" data-ariadna>
      <p>ESTÁS EN:</p>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Organización</a></li>
        <li><a href="<%= agreements_path(request.query_parameters) %>">Convenios</a></li>
        <li><a href="#">Visor de convenios</a></li>
      </ul>
    </div>
  </div>
</div>