    <div class="row">
      <div class="large-9 columns">
        <div class="row">
          <div class="large-12 columns">
            <div class="large-4 columns">
              <h5>GOBIERNO</h5>
              <ul>
                <li><a href="#" title="">Composición del Gobierno</a></li>
                <li><a href="#" title="">Altos cargos - retribuciónes</a></li>
                <li><a href="#" title="">Personal eventual - retribuciones</a></li>
                <li><a href="#" title="">Curriculum</a></li>
                <li><a href="#" title="">Bienes y derechos patrimoniales</a></li>
                <li><a href="#" title="">Agendas</a></li>
                <li><a href="#" title="">Régimen de incompatibilidades</a></li>
                <li><a href="#" title="">Obsequios y donaciones</a></li>
              </ul>
            </div>
            <div class="large-4 columns">
              <h5>ACCIONES DE GOBIERNO</h5>
              <ul>
                <li><a href="#" title="">Composición del Gobierno</a></li>
                <li><a href="#" title="">Altos cargos - retribuciónes</a></li>
                <li><a href="#" title="">Personal eventual - retribuciones</a></li>
                <li><a href="#" title="">Curriculum</a></li>
                <li><a href="#" title="">Bienes y derechos patrimoniales</a></li>
                <li><a href="#" title="">Agendas</a></li>
                <li><a href="#" title="">Régimen de incompatibilidades</a></li>
                <li><a href="#" title="">Obsequios y donaciones</a></li>
              </ul>              
            </div>
            <div class="large-4 columns">
              <h5>ACTIVIDAD PARLAMENTARIA</h5>
              <ul>
                <li><a href="#" title="">Composición del Gobierno</a></li>
                <li><a href="#" title="">Altos cargos - retribuciónes</a></li>
                <li><a href="#" title="">Personal eventual - retribuciones</a></li>
                <li><a href="#" title="">Curriculum</a></li>
                <li><a href="#" title="">Bienes y derechos patrimoniales</a></li>
                <li><a href="#" title="">Agendas</a></li>
                <li><a href="#" title="">Régimen de incompatibilidades</a></li>
                <li><a href="#" title="">Obsequios y donaciones</a></li>
              </ul>              
            </div>
          </div>
          <div class="large-12 columns">
            <div class="large-4 columns">
              <h5>SECTOR PÚBLICO</h5>
              <ul>
                <li><a href="#" title="">Composición del Gobierno</a></li>
                <li><a href="#" title="">Altos cargos - retribuciónes</a></li>
                <li><a href="#" title="">Personal eventual - retribuciones</a></li>
                <li><a href="#" title="">Curriculum</a></li>
                <li><a href="#" title="">Bienes y derechos patrimoniales</a></li>
                <li><a href="#" title="">Agendas</a></li>
                <li><a href="#" title="">Régimen de incompatibilidades</a></li>
                <li><a href="#" title="">Obsequios y donaciones</a></li>
              </ul>              
            </div>
            <div class="large-4 columns">
              <h5>PARTICIPACIÓN CIUDADANA</h5>
              <ul>
                <li><a href="#" title="">Agenda</a></li>
                <li><a href="#" title="">Documentos y enlaces</a></li>
                <li><a href="#" title="">Órganos de participación</a></li>
                <li><a href="#" title="">Procesos de participación</a></li>
                <li><a href="#" title="">Actualidad</a></li>
                <li><a href="#" title="">Jornadas y cursos</a></li>
                <li><a href="#" title="">Ayuntamientos y comarcas</a></li>
              </ul>              
            </div>
            <div class="large-4 columns">
              <h5>OPEN DATA</h5>
              <ul>
                <li><a href="#" title="">Información</a></li>
                <li><a href="#" title="">Búsqueda</a></li>
                <li><a href="#" title="">Términos de uso</a></li>
                <li><a href="#" title="">Aplicaciones</a></li>
                <li><a href="#" title="">Colabora</a></li>
              </ul>              
            </div>
          </div>      
        </div>
      </div>
      <div class="large-offset-by-1 large-2 columns">
        <div class="row">
          <div class="large-12 columns">
            <%= image_tag "gobaragon-grey.png", { alt: "Gobierno de Aragón", class: "logo-ft" } %>
          </div>
        </div>
      </div>
    </footer>
    <div class="sub-footer">
      <div class="row">
        <div class="large-12">
          <div class="large-9 columns">
            <div class="row">
              <div class="large-12 columns">
                <h6>GOBIERNO DE ARAGÓN.</h6>
                <ul>
                  <li><a href="#" title="">Política de Privacidad</a></li>
                  <li><a href="#" title="">Aviso Legal</a></li>
                  <li><a href="#" title="">Accesibilidad</a></li>
                </ul>  
                <p>Edificio Pignatelli. Paseo de María Agustín, 36. 50071 Zaragoza. Tel. 976 714 0000</p>
              </div>
            </div>
          </div>
            <div class="large-3 columns">
              <h6>CONTACTO</h6>
              <p><a href="#">transparencia@aragon.es</a></p>
            </div>
        </div>
      </div>
    </div>