<nav>
  <% menu_items = navigation_menu %>
  <%index = 0%>
    <% menu_items.each do |item|%>
      <%index += 1%>
      <li>
        <a href="#"  class="clicker"><%= item.title %></a>
        <div class="outer-<%=index%>">
        <ul class="large-block-grid-2 no-js">
          <% item.children.each do |child| %>
          <li>
            <%= link_to ("<span>#{child.title}</span> <p>#{child.meta_description}</p>").html_safe, "/#{child.url[:path].join('/')}"%>
          </li>
          <% end %>
        </ul>
      </div>
      </li>
      
  <% end %>
</nav>
<span id="no-js" class="menu-bg"></span>
